body {
    margin: 02% 15%;
    text-transform: capitalize;
    background-image: linear-gradient(to left, #061715 0%, rgb(18, 23, 28) 50%, rgb(15, 18, 33) 100%);
    background-color: rgb(15, 17, 21);
    color: white;
    font-family: "Inter", sans-serif;
}

a {
    color: rgb(29, 150, 190);
    text-decoration: none;
}

header>a {
    padding: 0px 10px;
}

header {
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
}

.introMessage {
    text-align: center;
}

h2 {
    color: rgb(34, 154, 102);
}

h3 {
    color: rgb(255, 189, 83);
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* border: 1px solid; */
}

.sub-container {
    /* display: flex; */
    /* justify-content: left; */
    width: 100%;
}

ul {
    list-style: none;
}

img {
    display: block;
    margin: auto;
    width: auto;
    max-width: 70%;
    height: auto;
}

/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 12px;
    /* Width of the scrollbar */
    height: 12px;
    /* Height of the scrollbar (for horizontal scrollbar) */
}

::-webkit-scrollbar-track {
    background-color: #061715;
    /* Make the track transparent */
}

::-webkit-scrollbar-thumb {
    background-color: #88888839;
    /* Color of the scrollbar thumb */
    border-radius: 20px;
    /* Round the corners of the thumb */
}

/* img {
    max-width: 500px;
    max-height: 100%;
    display: block;
    margin: auto;
} */

iframe {
    display: block;
    margin: auto;
}