body {
    margin: 02% 15%;
    text-transform: capitalize;
    background-color: rgba(0, 0, 0, 0.918);
    color: white;
    font-family: "Inter", sans-serif;
}

a {
    color: rgb(29, 150, 190);
    text-decoration: none;
}

header>a {
    padding: 0px 10px;
}

header {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* border: 1px solid; */
}

.sub-container {
    /* display: flex; */
    /* justify-content: left; */
    width: 100%;
}

img {
    max-width: 500px;
    max-height: 100%;
    display: block;
    margin: auto;
}

iframe {
    display: block;
    margin: auto;
}